<launch>
  
  <!--TODO add arg-->
    <node pkg="sonar_pkg" type="sonar.py" name="sonar_node" output="screen">
    <param name="topic_name" value="sonar_poses"/>
  </node>
  <node pkg="sonar_pkg" type="tf2sonar_pose.py" name="tf2pose" output="screen">
    <param name="topic_name" value="sonar_poses"/>
  </node>
  
</launch>